.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    padding: 0px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .facebook span svg{
    color: #1877F2;
  }
  .facebook:hover span svg{
    color: white;
  }
  .twitter span svg{
    color: #1DA1F2;
  }
  .twitter:hover span svg{
    color: white;
  }
  .instagram span svg{
    color: #E4405F;
  }
  .instagram:hover:hover span svg{
    color: white;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #fff;
  }








  .feed-form {
   
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feed-form .container {
    position: relative;
    width: 100%;
    margin: 8px 0px;
}
  
  .feed-form .container input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #222;
    padding: 8px;
  }
  .feed-form .container input:focus{
    border: none;
    outline: none;
    box-shadow: none;
  } 
  .feed-form .container label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(105, 105, 105, 0.7);
    
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
  }
  
  .feed-form .container input:valid ~ label,
  .feed-form .container input:focus ~ label {
    color: rgb(10, 131, 212);
    transform: translateY(-15px);
    font-size: .6rem;
  }
  
  .feed-form .container i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #222;
  }
  
  .feed-form .container i:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f12711;
    background: linear-gradient(to right, #f5af19, #f12711);
    animation: animate 3s linear infinite;
}
  









  .button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
  
  }
  
  .button_submit {
    width: 100%;
    height: 54px;
    margin-top: 29px;
    font-size: 14px;
    color: white;
    background: #f12711;
    background: linear-gradient(to right, #f5af19, #f12711);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}
.client-slide{
  height: 100% !important;
}
  .logo-swiper{
    height: 300px !important;
  }
  .logo-swiper img{
    height: auto !important;
    width: 200px !important;
    object-fit: contain !important;
  }
  .Swiper-Card-1{
    min-height: 250px !important;
  }
  .Swiper-Card-1 img.swiper-slider-profile {
    height: 100px;
    width: 100px;
}
  
.Swiper-Card-1 .swiper-slider{
  height: 100% !important;
}
  
